@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@400;500;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header {
  -webkit-transition: background-color 0.3s ease, padding 0.3s ease;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;
  padding: 40px 0px 0px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
}

.header__logo span {
  padding: 0px 0px 0px 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Raleway;
  font-size: 34px;
  letter-spacing: -1.36px;
  color: #ffffff;
}

.header__burger {
  display: none;
}

.header__menu {
  margin: 0 0 0 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header__list li {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  padding: 0px 30px 0px 0px;
}

.header__list li:last-child {
  padding: 0;
}

.header__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
  text-decoration: none;
}

.header__link:hover {
  color: #c7b299;
}

.header__search:first-child {
  margin: 0px 28px 0px 63px;
}

.header._scroll {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #736357;
  padding: 15px 0;
}

@media (max-width: 1000px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 10px 0px 0px 0px;
  }
  .header__logo {
    z-index: 100;
  }
  .header__logo img {
    max-width: 50px;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
  }
  .header__btn {
    margin: 0 0 0 auto;
    padding: 0px 28px 0px 0px;
  }
  .header__burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
    z-index: 3;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    padding: 90px 0px 0px 0px;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #9e8360;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    text-align: center;
  }
  .header__list li {
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    padding: 0;
    margin: 0px 10px 10px 10px;
  }
  .header__list li:first-child {
    border-top: 1px solid #fff;
  }
}

@media (max-width: 435px) {
  .header__logo span {
    display: none;
  }
  .header__search:first-child {
    margin: 0px 28px 0px 0px;
  }
}

.main-screen {
  position: absolute;
  width: 100%;
  z-index: 30;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 615px;
}

.main-screen__uptitle {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  padding: 0px 0px 14px 0px;
  color: #ffffff;
}

.main-screen__title {
  font-family: Raleway;
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  padding: 0px 0px 19px 0px;
}

.main-screen__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  padding: 0px 0px 52px 0px;
}

.main-screen__btn {
  position: relative;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  padding: 21px 39px 21px 37px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0  #736357;
          box-shadow: 0 3px 0 0  #736357;
  background-color: #998675;
}

.main-screen__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 3px;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  min-width: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.slider__item img {
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  height: 73px;
  width: 40px;
  margin: -36.5px 0 0 0;
}

.slider .slick-arrow.slick-prev {
  left: 6.5%;
  background: url("../img/slider/left.svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 6.5%;
  background: url("../img/slider/right.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slider .slick-dots li {
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
}

.slider .slick-dots li.slick-active button {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.whywe {
  padding: 80px 0;
}

.whywe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whywe__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0px 17px 0px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whywe__column span {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 30px auto 0 auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__column:hover .whywe__img2 {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__column:hover .whywe__title {
  color: #c7b299;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__column:hover .whywe__span {
  background-color: #c7b299;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__img {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 29px 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__img1 {
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__img2 {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

.whywe__title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #555;
  padding: 0px 0px 19px 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.whywe__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}

@media (max-width: 767px) {
  .whywe__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .whywe__column:nth-child(1), .whywe__column:nth-child(2) {
    padding: 0px 17px 60px 17px;
  }
}

@media (max-width: 480px) {
  .whywe {
    padding: 50px 0;
  }
  .whywe__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .whywe__column:nth-child(1), .whywe__column:nth-child(2), .whywe__column:nth-child(3) {
    padding: 0px 17px 40px 17px;
  }
}

@media (max-width: 368px) {
  .whywe {
    padding: 50px 0;
  }
}

.realization {
  padding: 83px 0px 71px 0px;
  background-color: #fbfaf8;
}

.realization__container {
  max-width: 770px;
  margin: 0 auto;
}

.realization__title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
  padding: 0px 0px 24px 0px;
}

.realization__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
  padding-bottom: 40px;
}

.realization-idea {
  padding: 0 15px 0 0;
  background-color: #fbfaf8;
  position: relative;
  top: 0;
  left: 0;
}

.realization-idea__container {
  max-width: 770px;
  margin: 0 auto;
}

.realization-idea__img img {
  position: absolute;
  z-index: 20;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 100%;
}

.realization-idea__img1 img {
  position: relative;
  bottom: 0;
  left: 0;
}

.realization-idea__img2 img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .realization-idea__img img {
    max-width: 550px;
  }
  .realization-idea__img1 img {
    max-width: 550px;
  }
  .realization-idea__img2 img {
    max-width: 550px;
  }
}

@media (max-width: 870px) {
  .realization-idea__img img {
    max-width: 440px;
  }
  .realization-idea__img1 img {
    max-width: 370px;
  }
  .realization-idea__img2 img {
    max-width: 370px;
  }
}

@media (max-width: 680px) {
  .realization-idea__img img {
    max-width: 310px;
  }
  .realization-idea__img1 img {
    max-width: 210px;
  }
  .realization-idea__img2 img {
    max-width: 210px;
  }
}

@media (max-width: 680px) {
  .realization-idea__img img {
    max-width: 230px;
  }
}

@media (max-width: 368px) {
  .realization {
    padding: 40px 0px 0px 0px;
  }
  .realization-idea {
    display: none;
  }
}

.wordpress {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to top, #211b19, #4e3427);
  padding: 48px 0px 48px 0px;
}

.wordpress__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wordpress__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wordpress__title {
  font-family: Raleway;
  font-size: 28px;
  color: #ffffff;
  padding-bottom: 8px;
}

.wordpress__title span {
  color: #c7b299;
}

.wordpress__subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  color: #615855;
}

.wordpress__btn {
  position: relative;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  padding: 19px 29px 20px 28px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0  #736357;
          box-shadow: 0 3px 0 0  #736357;
  background-color: #998675;
}

.wordpress__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 3px;
}

@media (max-width: 767px) {
  .wordpress__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center;
    padding: 0px 0px 20px 0px;
  }
  .wordpress__btn {
    margin: 0 auto;
  }
}

.latest-project {
  padding: 81px 0px 80px 0px;
}

.latest-project__title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
  padding: 0px 0px 24px 0px;
}

.latest-project__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
  padding: 0px 0px 40px 0px;
}

.latest-project__btn {
  margin: 10px 0px 0px 0px;
  position: relative;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  padding: 19px 29px 20px 28px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 0  #736357;
          box-shadow: 0 3px 0 0  #736357;
  background-color: #998675;
}

.latest-project__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 3px;
}

.tabs-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 40px 0px;
}

.tabs-triggers__item {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #8c8c8c;
  padding: 10px 27px 11px 25px;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  margin: 0px 10px 0px 0px;
}

.tabs-triggers__item:last-child {
  margin: 0;
}

.tabs-triggers__item:hover {
  background-color: #998675;
  color: #fff;
}

.tabs-triggers__item.active {
  color: #fff;
  background-color: #998675;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.active {
  display: block;
}

.tabs-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  padding: 0 15px 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-content__column:hover .element-tabs__icon {
  opacity: 1;
  visibility: inherit;
}

.tabs-content__column:hover .element-tabs__triangle {
  border-bottom: 15px solid #362f2d;
}

.tabs-content__column:hover .element-tabs__title,
.tabs-content__column:hover .element-tabs__subtitle {
  background-color: #362f2d;
}

.element-tabs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.element-tabs__icon {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.element-tabs__icon a:nth-child(1) {
  padding: 0 14px 0 0;
}

.element-tabs__icon a:nth-child(2) {
  padding: 0 0 0 14px;
}

.element-tabs__icon a:hover {
  opacity: 0;
}

.element-tabs__hover {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.element-tabs__hover a:nth-child(1) {
  padding: 0 14px 0 0;
}

.element-tabs__hover a:nth-child(2) {
  padding: 0 0 0 14px;
}

.element-tabs__img {
  position: relative;
  left: 0;
  top: 0;
}

.element-tabs__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.element-tabs__triangle {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  bottom: 0;
  left: 5%;
  z-index: 4;
}

.element-tabs__title {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 30px 10px 14px 28px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  background-color: #fbfaf8;
}

.element-tabs__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #d1d1d1;
  background-color: #fbfaf8;
  padding: 0px 0px 27px 28px;
}

@media (max-width: 767px) {
  .tabs-triggers__item {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 10px 10px 11px 10px;
  }
  .element-tabs__title {
    padding: 30px 10px 14px 10px;
    text-align: center;
  }
  .element-tabs__subtitle {
    padding: 0px 0px 15px 0px;
    text-align: center;
  }
}

@media (max-width: 670px) {
  .tabs-content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 443px) {
  .tabs-content__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .element-tabs__title {
    font-size: 15px;
  }
}

.video {
  position: relative;
  padding: 210px 0 207px 0;
}

.video__play {
  padding: 15px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 50%;
  margin: 0px 0px 44px -50px;
}

.video__play:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.video__content {
  position: relative;
  z-index: 1;
  max-width: 552px;
  margin: 0 auto;
}

.video__title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 29px 0px;
}

.video__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 40px 0px;
}

.video__time {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #c7b299;
}

.video__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.iphone {
  padding: 79px 0px 0px 0px;
}

.iphone__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iphone__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.iphone__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.iphone__title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #555555;
  padding: 116px 0px 40px 0px;
}

.iphone__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
  padding: 0px 0px 45px 0px;
}

.iphone__list {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #8c8c8c;
  padding: 0px 0px 0px 50px;
}

.iphone__list li {
  position: relative;
  padding: 0px 0px 0px 50px;
}

.iphone__list li::before {
  content: '';
  display: block;
  background: url("../img/iphone/1.svg") 0 0 no-repeat;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 5px;
  left: 0;
}

@media (max-width: 940px) {
  .iphone {
    padding: 70px 0px 0px 0px;
  }
  .iphone__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }
  .iphone__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 40px 0px;
  }
  .iphone__title {
    padding: 0px 0px 20px 0px;
  }
  .iphone__text {
    padding: 0px 0px 20px 0px;
    font-size: 14px;
  }
  .iphone__list {
    font-size: 13px;
    padding: 0px 0px 0px 20px;
  }
}

.wetop {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,211b19+0,4e3427+99 */
  background: #1e5799;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1e5799), color-stop(0%, #211b19), color-stop(99%, #4e3427));
  background: linear-gradient(to right, #1e5799 0%, #211b19 0%, #4e3427 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4e3427',GradientType=1 );
  /* IE6-9 */
  padding: 80px 0;
}

.wetop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wetop__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  padding: 0px 17px 0px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wetop__column span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #f1eee9;
  margin: 30px auto 0 auto;
}

.wetop__img {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 29px 0px;
}

.wetop__img2 {
  position: relative;
}

.wetop__title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 21px 0px;
}

.wetop__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .wetop__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .wetop__column:nth-child(1), .wetop__column:nth-child(2) {
    padding: 0px 17px 60px 17px;
  }
}

@media (max-width: 480px) {
  .wetop {
    padding: 50px 0;
  }
  .wetop__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .wetop__column:nth-child(1), .wetop__column:nth-child(2), .wetop__column:nth-child(3), .wetop__column:nth-child(4) {
    padding: 0px 17px 40px 17px;
  }
}

@media (max-width: 368px) {
  .wetop {
    padding: 50px 0;
  }
}
